/*-- Reset --*/
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.dgreyback {
  background-color: #222222;
}

.dblue {
  background-color: #24262e;
}

#contact {
  background-color: #313e64;
}

.casestudy {
  float: left;
}

.casestudy2 {
  float: right;
}

.lght {
  background-color: #e6e7eb;
}

.bb {
  border-radius: 8px;
}

/*-- Parallax Landing Page Section --*/
.parallax-home {
  height: 100vh;
}

/*-- Landing Page Caption --*/
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%; /* Change position of langing page text. */
  z-index: 1;
}
.caption h1 {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}
.btn-lg {
  border-width: medium;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
}

/*-- Bouncing Down Arrow --*/
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}
a.down-arrow .svg-inline--fa {
  color: white;
  font-size: 2.2rem;
  opacity: .3;
}
a.down-arrow .svg-inline--fa:hover {
  opacity: .8;
}


/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 2.8rem;
}
.navbar {
  background-color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.navbard {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other


.nav-item {
  padding: .4rem;
}
.nav-link {
  color: black!important;
}
.nav-link.active,
.nav-link:hover {
  color: #396AFC!important;
}

.blue {
  color: #396afc;
}

/*============= CAROUSEL =============*/

.carousel-inner {
  max-height: 40rem!important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}
.carousel-indicators li {
  width: 40px;
  height: 6px;
  margin-right: 4px;
  margin-left: 4px;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}
.bg-dark {
  background-color: rgba(0, 0, 0, .7)!important;

  padding: 1rem;
}
.bg-white {
  background-color: rgba(255, 255, 255, .65)!important;
  border-radius: 1.5rem;
  padding: 1rem;
}
.carousel-caption h3 {
  font-size: 2.3rem;
  font-weight: 300;
}
p.lead {
  font-size: 1.4rem;
}


/*============= SOCIAL MEDIA STICKY BAR =============*/

.jumbotron {
  background: linear-gradient(to right, #f2f2f2, #FBFBFB);
  padding: 1rem 0 .5rem;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}
ul.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
}
ul.social li {
  margin: 0 auto;
}
.jumbotron .svg-inline--fa {
  font-size: 2rem;
  margin: 0 1rem;
}
.jumbotron .svg-inline--fa:hover {
  color: gray!important;
}


/*============= COLUMN CONTENT =============*/

.fa-square {
  opacity: .05;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}


/*============= FOOTER =============*/

footer {
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer a,
.socket a {
  color: white;
  text-decoration: none;
}
footer a:hover,
.socket a:hover {
  color: white;
  text-decoration: none;
}

/*============= SOCKET =============*/

.socket {
  background-color: #222222;
  border-top: .1rem solid gray;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h3 {
    font-size: 1.8rem;
  }
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  p.lead {
    font-size: 1.2rem;
  }
  .carousel-indicators li {
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
  }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  p.lead {
    font-size: 1.1rem;
  }
  .navbar-brand img {
    height: 2.5rem;
  }
  .navbar {
    font-size: 1rem;
    padding: .4rem .6rem;
  }
  .jumbotron .svg-inline--fa {
    font-size: 1.6rem;
    margin: 0 .8rem;
  }
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .navbar-brand img {
    height: 2.3rem;
  }
  .navbar {
    font-size: .9rem;
    padding: .3rem .6rem;
  }
  .jumbotron .svg-inline--fa {
    font-size: 1.4rem;
    margin: 0 .5rem;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*============= UNIVERSAL PARALLAX PLUGIN CSS =============*/
.parallax-container {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
  position: relative;
  width: 100%
}
.parallax-container .parallax-content {
  margin: 0 auto;
  width: 100%;
}
.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100
}
.parallax__container .parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%
}